.list__link {
  list-style-type: none;
  display: inline-flex;
  a {
    display: inline-flex;
    border: solid 1px;
    padding: 4px 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    align-items: center;
    text-decoration: none;
  }
  svg {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}

section {
  // min-height: calc(100vh - 50px);
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  &:nth-of-type(even) {
    background: var(--bg2);
  }
}

#splash {
  background: url(/images/road.jpg) center;
  .title {
    text-align: center;
  }
  h1 {
    display: block;
    font-size: 6rem;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
    text-shadow: rgb(0 150 136 / 30%) 3px 3px, rgb(0 150 136 / 20%) 6px 6px;
    color: #009688;
    background-image: -webkit-linear-gradient(135deg, #004d40, #26a69a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-size: 3rem;
    color: var(--dark);
  }
}

#about {
  img {
    margin: 20px auto;
  }
}

#projects {
  .grid {
    margin: 20px 0;
  }
}

#blog {
  .grid {
    margin: 20px 0;
  }
}
