@media screen and (min-width: 992px) {

  .project-shape,
  .projects-shape {
    &::before {
      content: '';
      position: absolute;
      background: var(--primary);
      box-shadow: 20px 20px var(--bg), 20px 20px 0 1px var(--text2);
      transform: rotate(100deg);
    }
  }

  .projects-shape {
    &::before {
      width: 30px;
      height: 30px;
      top: 100px;
      right: 40px;
      animation: shape-projects 53s infinite alternate linear;
    }

    @keyframes shape-projects {
      100% {
        transform: translate(-350px, 20px);
      }
    }
  }

  .project-shape {
    &::before {
      width: 50px;
      height: 50px;
      top: 120px;
      right: 80px;
      animation: shape-project 53s infinite alternate linear;
    }

    @keyframes shape-project {
      100% {
        transform: translate(-350px, 120px);
      }
    }
  }
}

.intro {
  padding: 8px 0 8px 16px;
  border-left: solid 4px #4db6ac;
}

.tech-list {
  padding-left: 0;
  list-style-type: none;

  >li,
  >a {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-flex;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      transition: color 0.2s;
    }

    &:not(.active):hover svg {
      color: var(--primary) !important;
    }
  }
}

figure.project-screen {
  background: var(--text10);
  border: solid 1px var(--light-grey);
  box-shadow: var(--shadows6);
  margin-bottom: 52px;
}