.resume {
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.4;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #111111;

  @mixin grid() {
    display: grid;
    align-content: flex-start;
    grid-template-columns: 2fr minmax(100px, 260px);
    grid-template-areas:
      'name contact'
      'experience skills'
      'projects projects'
      'articles articles';
  }

  @media (min-width: 768px) {
    @include grid;
  }

  @media print {
    @include grid;
  }

  .resume__name {
    grid-area: name;
  }

  .resume__contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .resume__experience {
    grid-area: experience;
    text-align: justify;
  }

  .resume__projects {
    grid-area: projects;
  }

  .resume__articles {
    grid-area: articles;
  }

  .resume__skills {
    grid-area: skills;
  }

  section {
    padding: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;
    font-weight: normal;
  }

  p,
  li {
    margin-bottom: 0.5rem;
  }

  ul li,
  ol li {
    line-height: inherit;
  }

  h1,
  h2,
  .subtitle {
    font-family: 'Share Tech Mono', monospace;
  }

  h1,
  h2 {
    color: #009688;
  }

  h1 {
    margin-top: 0;
    font-size: 3.125rem;
    letter-spacing: 0.25rem;
    box-shadow: none;
  }

  .subtitle {
    color: #666;
    font-size: 2rem;
  }

  h2 {
    padding: 0.25rem 0;
    border-bottom: solid 1px lightgrey;
    border-top: solid 1px lightgrey;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
  }

  .emoji {
    height: 1.75rem;
    margin-left: 0.5rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #004d40;
    margin-top: 1.5rem;
  }

  a {
    transition: all 0.2s;
  }

  a:hover,
  a:focus {
    color: #009688;
  }

  ul {
    padding-left: 1.25rem;
    list-style-type: square;
  }

  .list-no {
    padding: 0;
    list-style-type: none;
  }

  .item:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  .detail {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #666;
  }

  .intro {
    margin: 1rem auto;
    padding: 0.5rem 0 0.5rem 1rem;
    border-left: solid 4px #4db6ac;
  }

  @media print {
    .print-url {
      font-size: 0.875rem;
    }
  }

  @media not print {
    .print-only {
      display: none;
    }
  }
}