@media screen and (min-width: 992px) {
  .blog-shape,
  .posts-shape {
    &::before {
      content: '';
      position: absolute;
      background: var(--primary);
      box-shadow: 20px 20px var(--bg), 20px 20px 0 1px var(--text2);
      transform: rotate(100deg);
    }
  }
  .blog-shape {
    &::before {
      width: 30px;
      height: 30px;
      top: 80px;
      right: 40px;
      animation: shape-blog 53s infinite alternate linear;
    }
    @keyframes shape-blog {
      100% {
        transform: translate(-350px, 20px);
      }
    }
  }
  .posts-shape {
    &::before {
      width: 50px;
      height: 50px;
      top: 120px;
      right: 40px;
      animation: shape-posts 53s infinite alternate linear;
    }
    @keyframes shape-posts {
      100% {
        transform: translate(-20px, 320px);
      }
    }
  }
}

.post__date {
  font-size: 1.4rem;
}

.post__content {
  h1 {
    animation: none;
    color: inherit;
    font-weight: normal;
    letter-spacing: 0;
    display: block;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.5em;
    margin-bottom: 0.75em;
  }
  pre {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: var(--bg2);
  }
}
