@media screen and (min-width: 992px) {

  .blog-shape,
  .posts-shape {
    &::before {
      content: '';
      position: absolute;
      background: var(--primary);
      box-shadow: 20px 20px var(--bg), 20px 20px 0 1px var(--text2);
      transform: rotate(100deg);
    }
  }

  .blog-shape {
    &::before {
      width: 30px;
      height: 30px;
      top: 100px;
      right: 40px;
      animation: shape-blog 53s infinite alternate linear;
    }

    @keyframes shape-blog {
      100% {
        transform: translate(-350px, 20px);
      }
    }
  }

  .posts-shape {
    &::before {
      width: 50px;
      height: 50px;
      top: 120px;
      right: 40px;
      animation: shape-posts 53s infinite alternate linear;
    }

    @keyframes shape-posts {
      100% {
        transform: translate(-20px, 320px);
      }
    }
  }
}

.blog__categories .btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 8px;

  &:not(:last-of-type) {
    margin-right: 8px;
  }
}

.post__categories a {
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: underline;

  &:not(:last-of-type) {
    margin-right: 8px;
  }
}

.post__date {
  display: block;
  text-align: right;
  font-size: 1.4rem;
  line-height: 1.4;
}

.post__content {
  h1 {
    animation: none;
    color: inherit;
    font-weight: normal;
    letter-spacing: 0;
    display: block;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.5em;
    margin-bottom: 0.75em;
  }

  ul,
  ol {
    margin-bottom: 16px;
  }

  img {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  pre {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
    background: var(--bg2);
    overflow-x: auto;
  }

  code {
    background: var(--bg2);
    padding: 2px 4px;
  }

  blockquote {
    margin: 16px auto;
    padding: 8px 0 8px 16px;
    border-left: solid 8px var(--bg3);
    font-style: italic;

    cite {
      display: block;
      margin-top: 8px;

      &::before {
        content: '— ';
      }
    }
  }

  /* Prism overrides for dark theme */
  :not(pre)>code[class*='language-'],
  pre[class*='language-'] {
    background: var(--bg2);
  }

  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
    color: var(--text);
    margin: 20px auto;
  }

  .code-iframe-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}