section {
  padding: 2.5rem 0;

  @media screen and (min-width: 768px) {
    padding: 3.75rem 0;
  }

  @media screen and (min-width: 992px) {
    padding: 6.25rem 0;
  }
}

.splash {
  position: relative;
  background: url(/images/road.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5rem;

  @media screen and (min-width: 768px) {
    padding-bottom: 6rem;
  }

  @media screen and (min-width: 992px) {
    padding-bottom: 8rem;
  }

  h1 {
    display: block;
    font-size: 3.75rem;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
    text-shadow: 3px 3px rgba(0, 150, 136, 0.4), 6px 6px rgba(0, 150, 136, 0.2);
    color: var(--primary);
    background-image: -webkit-linear-gradient(135deg, var(--primary-dark), var(--primary-light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: none;
  }

  p {
    font-size: 2rem;
    color: var(--dark);
  }
}

.about {
  position: relative;

  &.svg-divider::before {
    content: '';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    top: calc(-2.5rem + 1px);
    height: 2.5rem;
    background-size: 100% 3.75rem;
    background-position: 100%;
    transform: rotateY(180deg);
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 77.25" preserveAspectRatio="none"><g fill="%23fcfcfc"><path d="M0 68.78l381-33.86v42.33H0z"/><path d="M0 43.38l381-25.4v59.27H0z" opacity=".33"/><path d="M0 17.98L381 0v77.25H0z" opacity=".33"/></g></svg>');
  }

  @media screen and (min-width: 992px) {
    .home-shapes {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background: var(--primary);
        box-shadow: 1.25rem 1.25rem var(--bg), 1.25rem 1.25rem 0 1px var(--text2);
      }

      &::before {
        width: 2rem;
        height: 2rem;
        top: 1.5rem;
        left: 2.5rem;
        transform: rotate(100deg);
        animation: home-shape-1 33s infinite alternate linear;
      }

      &::after {
        width: 2.5rem;
        height: 2.5rem;
        right: 2.5rem;
        bottom: 4rem;
        transform: rotate(-190deg);
        animation: home-shape-2 29s infinite alternate linear;
      }

      @keyframes home-shape-1 {
        100% {
          transform: translate(10rem, 0.5rem);
        }
      }

      @keyframes home-shape-2 {
        100% {
          transform: translate(-8rem, -0.5rem);
        }
      }
    }
  }

  .about__img {
    transform: scale(-1, 1);
    min-width: 0;
  }

  .about__languages {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }

    a {
      padding: 0.25rem;
      transition: all var(--transition);

      &:hover,
      &:focus {
        transform: scale(1.2);

        &[data-hover='html'] {
          color: #e44d26;
        }

        &[data-hover='css'] {
          color: #1572b6;
        }

        &[data-hover='javascript'] {
          color: #f0db4f;
        }

        &[data-hover='react'] {
          color: #61dbfb;
        }

        &[data-hover='jquery'] {
          color: #0868ac;
        }

        &[data-hover='bootstrap'] {
          color: #5b4282;
        }

        &[data-hover='sass'] {
          color: #cf649a;
        }

        &[data-hover='angular'] {
          color: #a6120d;
        }

        &[data-hover='typescript'] {
          color: #007acc;
        }

        &[data-hover='redux'] {
          color: #764abc;
        }

        &[data-hover='material-ui'] {
          color: #007fff;
        }

        &[data-hover='chakra-ui'] {
          color: #3cc7bd;
        }

        &[data-hover='styled-components'] {
          color: #db7093;
        }

        &[data-hover='node.js'] {
          color: #689f63;
        }

        &[data-hover='firebase'] {
          color: #ffa50e;
        }

        &[data-hover='mongo-db'] {
          color: #00684a;
        }

        &[data-hover='c#'] {
          color: #390092;
        }

        &[data-hover='umbraco'] {
          color: #3544b1;
        }
      }

      svg {
        display: block;
        font-size: 1.5rem;

        &:last-of-type {
          margin-right: 0;
        }

        @media screen and (min-width: 768px) {
          font-size: 2rem;
        }
      }
    }
  }
}

.pattern {
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 64 64'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23BBBBBB' fill-opacity='0.6' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 64 64'%3E%3Cdefs%3E%3Cpath id='Artboard-5' fill='%23999999' fill-opacity='0.5' fill-rule='nonzero' d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/defs%3E%3Cuse href='%23Artboard-5' transform='rotate(45)' transform-origin='0' /%3E%3C/svg%3E");
}

.btn-wrapper-right {
  text-align: right;
}