section {
  // min-height: calc(100vh - 50px);
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 992px) {
    padding: 100px 0;
  }
  &:nth-of-type(even) {
    // background: var(--bg2);
  }
}

#splash {
  background: url(/images/road.jpg) center;
  background-size: cover;
  .title {
    text-align: center;
  }
  h1 {
    display: block;
    font-size: 6rem;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
    text-shadow: 3px 3px rgba(0, 150, 136, 0.4), 6px 6px rgba(0, 150, 136, 0.2);
    color: #009688;
    background-image: -webkit-linear-gradient(135deg, #004d40, #26a69a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-size: 3rem;
    color: var(--dark);
  }
}

#about {
  &.skewed {
    margin-top: -20px;
    @media screen and (min-width: 768px) {
      margin-top: -40px;
    }
  }
}
