.code-iframe-wrapper {
  width: 100%;
  padding: 56.25% 0 0 0;
  margin-bottom: calc(2.5rem + 12px);
  min-height: 25rem;
  position: relative;
  background: var(--text10);
  border: solid 1px var(--light-grey);
  box-shadow: var(--shadows6);
  overflow: hidden;

  iframe {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100% !important;
    border: none;
  }
}