.cp_embed_wrapper {
  width: 100%;
  padding: 56.25% 0 0 0;
  margin-bottom: 32px;
  min-height: 400px;
  position: relative;
  background: var(--text10);
  border: solid 1px var(--light-grey);
  box-shadow: var(--shadows6);
}

.cp_embed_wrapper iframe {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.cp_embed_wrapper {
  overflow: hidden;
  iframe {
    height: 100% !important;
    border: none;
  }
}
