.cp_embed_wrapper,
figure.wrapper {
  width: 100%;
  padding: 56.25% 0 0 0;
  margin-bottom: 32px;
  min-height: 400px;
  position: relative;
  background: var(--text10);
  border: solid 1px var(--light-grey);
  box-shadow: rgba(0, 150, 136, 0.3) 5px 5px, rgba(0, 150, 136, 0.2) 10px 10px;
}

.cp_embed_wrapper iframe,
figure.wrapper img.scroll {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.cp_embed_wrapper {
  overflow: hidden;
  iframe {
    height: 100% !important;
    border: none;
  }
}

figure.wrapper {
  overflow-y: auto;
}
