.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 5rem;
  padding: 1.25rem 0.625rem;

  @media screen and (min-width: 600px) {
    padding: 1.25rem;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 2.5rem;
    padding: 0;
  }
}

.card {
  position: relative;
  aspect-ratio: 16/9;
  margin: 0 0.625rem;

  @media screen and (min-width: 600px) {
    margin: 0;
  }

  .card__behind {
    width: 100%;
    height: 100%;
    top: 1.25rem;
    left: 1.25rem;
    box-shadow: var(--shadows4);

    @media screen and (min-width: 768px) {
      top: 0;
      left: 0;
    }

    position: absolute;
    background: var(--bg2);
    transition: all var(--transition);

    a:focus {
      z-index: 2;
      background: var(--text10);
    }

    .card__title {
      padding: 0.5rem 1rem;
      position: absolute;
      bottom: 0;
      width: 100%;
      color: var(--primary);
      font-weight: normal;
      line-height: 1;
      text-decoration: none;

      h2 {
        margin: 0;
        font-size: 1.5rem;

        svg {
          vertical-align: text-top;
        }
      }
    }

    .card__links {
      position: absolute;
      right: 0;
      display: flex;
      flex-direction: column;

      a {
        display: inline-block;
        padding: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        text-decoration: none;
        transition: all var(--transition);
        color: var(--text2);
        font-size: 1.25rem;

        &:hover,
        &:focus {
          color: var(--primary);
        }
      }
    }
  }

  .card__img {
    width: 100%;
    height: 100%;
    transition: all var(--transition);
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="36" viewBox="0 0 36 72"%3E%3Cg fill-rule="evenodd"%3E%3Cg fill="%23009688" fill-opacity="0.4"%3E%3Cpath d="M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E'),
      var(--bg2);
    position: relative;
    box-shadow: var(--shadow);
    top: -1.25rem;
    left: -1.25rem;

    @media screen and (min-width: 768px) {
      top: 0;
      left: 0;
      box-shadow: -1px -1px var(--bg2);
    }

    img {
      display: block;
      object-fit: cover;
      aspect-ratio: 16/9;
      width: 100%;
      height: 100%;
      transition: all var(--transition);
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    .card__behind {
      top: 1.25rem;
      left: 1.25rem;
    }

    .card__img {
      box-shadow: var(--shadow);
      top: -1.25rem;
      left: -1.25rem;

      img {
        filter: brightness(110%);
      }
    }
  }
}