.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  @media screen and (min-width: 768px) {
    grid-gap: 20px;
  }
  .rel {
    position: relative;
    padding: 56.25% 0 0 0;
    background: var(--text10);
    h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 10px;
      background: var(--bg80);
      font-weight: normal;
      font-size: 2.1rem;
      z-index: 1;
    }
    img {
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      aspect-ratio: 684 / 384;
      object-fit: cover;
    }
  }
  a {
    box-shadow: var(--shadow);
    transition: all 0.2s;
    &:hover,
    &:focus {
      box-shadow: rgba(0, 150, 136, 0.3) 5px 5px,
        rgba(0, 150, 136, 0.2) 10px 10px;
      transform: scale(1.05);
    }
  }
}
