.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 80px;
  padding: 20px 10px;

  @media screen and (min-width: 600px) {
    padding: 20px;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    padding: 0;
  }
}

.card {
  position: relative;
  aspect-ratio: 16/9;
  margin: 0 10px;

  @media screen and (min-width: 600px) {
    margin: 0;
  }

  .card__behind {
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    box-shadow: var(--shadows4);

    @media screen and (min-width: 768px) {
      top: 0;
      left: 0;
    }

    position: absolute;
    background: var(--bg2);
    transition: all 0.2s,
    top 0.2s linear,
    left 0.2s linear;

    a:focus {
      z-index: 2;
      background: var(--text10);
    }

    .card__title {
      padding: 8px 16px;
      position: absolute;
      bottom: 0;
      width: 100%;
      color: var(--primary);
      font-weight: normal;
      font-size: 2.1rem;
      line-height: 1;
      text-decoration: none;

      h2 {
        margin: 0;

        svg {
          vertical-align: text-top;
        }
      }
    }

    .card__links {
      position: absolute;
      right: 0;
      display: flex;
      flex-direction: column;

      a {
        display: inline-block;
        padding: 8px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        transition: all 0.2s;
        color: var(--text2);
        font-size: 2rem;

        &:hover,
        &:focus {
          color: var(--primary);
        }
      }
    }
  }

  .card__img {
    width: 100%;
    height: 100%;
    transition: all 0.2s, top 0.2s linear, left 0.2s linear;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="36" viewBox="0 0 36 72"%3E%3Cg fill-rule="evenodd"%3E%3Cg fill="%23009688" fill-opacity="0.4"%3E%3Cpath d="M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E'),
      var(--bg2);
    position: relative;
    box-shadow: var(--shadow);
    top: -20px;
    left: -20px;

    @media screen and (min-width: 768px) {
      top: 0;
      left: 0;
      box-shadow: -1px -1px var(--bg2);
    }

    img {
      display: block;
      object-fit: cover;
      aspect-ratio: 16/9;
      width: 100%;
      height: 100%;
      transition: all 0.2s;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    .card__behind {
      top: 20px;
      left: 20px;
    }

    .card__img {
      box-shadow: var(--shadow);
      top: -20px;
      left: -20px;

      img {
        filter: brightness(110%);
      }
    }
  }
}