body {
  --primary: #009688;
  --primary-dark: #004d40;
  --primary-light: #26a69a;
  --secondary: ;
  --action: ;
  --text: #333333;
  --dark: #333333;
  --dark-grey: #454545;
  --grey: #666;
  --light-grey: #999;
  --light: #eeeeee;
  --bg: #eeeeee;
}
