@import 'base/normalize';
@import 'base/variables';
@import 'base/general';
@import 'base/mixins';

@import 'components/header';
@import 'components/footer';
@import 'components/mobileNav';
@import 'components/grid';
@import 'components/codepen';
@import 'components/logo';

@import 'pages/home';
@import 'pages/projects';
@import 'pages/blog';
@import 'pages/resume';
