* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 1.6rem;
}

#__next main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  font-family: var(--font-body);
  background-color: var(--bg);
  color: var(--text);
}

h1 {
  color: var(--primary);
  font-family: var(--font-title);
  font-size: 3rem;
  font-weight: normal;
  // text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  margin: 20px 0 32px 0;
  padding: 0 4px 4px 0;
  box-shadow: rgba(0, 150, 136, 0.3) 5px 5px, rgba(0, 150, 136, 0.2) 10px 10px;
}

h2 {
  font-family: var(--font-title);
  font-size: 2.4rem;
  font-weight: normal;
}

h3 {
  font-size: 2.1rem;
  font-weight: normal;
}

h4 {
  font-size: 1.8rem;
  font-weight: normal;
}

h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 0.75em;
}

a {
  line-height: 1.4;
  color: inherit;
  &:hover,
  &:focus {
    color: var(--primary);
  }
}

p {
  margin: 0;
  margin-bottom: 8px;
  line-height: 1.4;
  &:last-of-type {
    margin-bottom: 0;
  }
}

ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: square;
  &.nodisc {
    list-style: none;
    padding-left: 0;
  }
  li {
    line-height: 1.4;
  }
}

img {
  display: block;
  width: 100%;
}

figure {
  margin: 0;
}

button {
  line-height: 1.4;
  color: inherit;
  &:hover,
  &:focus {
    color: var(--primary);
  }
}

strong {
  color: #009688;
}

main {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
  &.narrow {
    @media screen and (min-width: 690px) {
      max-width: 80ch;
    }
  }
}

@media screen and (min-width: 768px) {
  .cols {
    display: flex;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    .col {
      // display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0.75rem;
      &.is-3 {
        flex: none;
        width: 25%;
      }
      &.is-4 {
        flex: none;
        width: 33.33333%;
      }
      &.is-6 {
        flex: none;
        width: 50%;
      }
      &.is-8 {
        flex: none;
        width: 66.66667%;
      }
      &.is-9 {
        flex: none;
        width: 75%;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .cols.cols-lg {
    display: block;
  }
}

.over-x-h {
  overflow-x: hidden;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between-x {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.space-between-y {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn,
button {
  border: solid 1px;
  text-decoration: none;
  padding: 4px 8px;
  display: inline-flex;
  align-items: center;
  background: transparent;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  padding: 56.25% 0 0 0;
  margin: 16px 0;
  position: relative;
  .wrapper__img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
}

.skewed {
  position: relative;
  &:nth-of-type(even)::before {
    background: var(--bg2);
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(2deg);
    z-index: 0;
  }
}
