* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 1.6rem;
  background-color: var(--bg);
  color: var(--text);
}

#__next main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: var(--primary);
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.8rem;
}

a {
  line-height: 1.4;
  color: inherit;
  &:hover,
  &:focus {
    color: var(--primary);
  }
}

p {
  margin: 0;
  line-height: 1.4;
}

ul {
  padding-left: 20px;
  &.nodisc {
    list-style: none;
    padding-left: 0;
  }
}

figure {
  margin: 0;
}

button {
  line-height: 1.4;
  color: inherit;
  &:hover,
  &:focus {
    color: var(--primary);
  }
}

main {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.btn,
button {
  border: solid 1px;
  text-decoration: none;
  padding: 4px 8px;
  margin: 8px 4px 8px 0;
  display: inline-block;
  cursor: pointer;
}
