main {
  --primary: #009688;
  --primary-dark: #004d40;
  --primary-light: #4db6ac;
  --primary-lightest: #b2dfdb;
  --secondary: ;
  --action: ;
  --text: #111111;
  --text2: #333333;
  --text3: #454545;
  --dark: #333333;
  --dark-grey: #454545;
  --grey: #666666;
  --light-grey: #999999;
  --light: #eeeeee;
  --bg3: #dddddd;
  --bg2: #eeeeee;
  --bg: #fcfcfc;
  --bg10: rgba(256, 256, 256, 0.1);
  --bg20: rgba(256, 256, 256, 0.2);
  --bg40: rgba(256, 256, 256, 0.4);
  --bg80: rgba(256, 256, 256, 0.8);
  --text10: rgba(0, 0, 0, 0.1);
  --text20: rgba(0, 0, 0, 0.2);
  --text40: rgba(0, 0, 0, 0.4);
  --text80: rgba(0, 0, 0, 0.8);
  --font-title: 'Share Tech Mono', monospace;
  --font-body: 'Open Sans', sans-serif;
  --shadow: 0 0.125rem 0.375rem var(--text20);
  --shadows4: 0.25rem 0.25rem var(--primary-light), 0.5rem 0.5rem var(--primary-lightest);
  --shadows6: 0.375rem 0.375rem var(--primary-light), 0.75rem 0.75rem var(--primary-lightest);

  --transition: 0.2s linear;
}

main.dark {
  --text: #fcfcfc;
  --text2: #eeeeee;
  --text3: #dddddd;
  --bg3: #454545;
  --bg2: #333333;
  --bg: #111111;
  --bg10: rgba(0, 0, 0, 0.1);
  --bg20: rgba(0, 0, 0, 0.2);
  --bg40: rgba(0, 0, 0, 0.4);
  --bg80: rgba(0, 0, 0, 0.8);
  --text10: rgba(256, 256, 256, 0.1);
  --text20: rgba(256, 256, 256, 0.2);
  --text40: rgba(256, 256, 256, 0.4);
  --text80: rgba(256, 256, 256, 0.8);

  header .logo img {
    @media screen and (min-width: 768px) {
      filter: grayscale(1) invert(1);
    }
  }

  .svg-divider::before {
    filter: invert(0.94);
  }
}

@media (prefers-color-scheme: dark) {
  main:not(.light) {
    --text: #fcfcfc;
    --text2: #eeeeee;
    --text3: #dddddd;
    --bg3: #454545;
    --bg2: #333333;
    --bg: #111111;
    --bg10: rgba(0, 0, 0, 0.1);
    --bg20: rgba(0, 0, 0, 0.2);
    --bg40: rgba(0, 0, 0, 0.4);
    --bg80: rgba(0, 0, 0, 0.8);
    --text10: rgba(256, 256, 256, 0.1);
    --text20: rgba(256, 256, 256, 0.2);
    --text40: rgba(256, 256, 256, 0.4);
    --text80: rgba(256, 256, 256, 0.8);

    header .logo img {
      @media screen and (min-width: 768px) {
        filter: grayscale(1) invert(1);
      }
    }

    .svg-divider::before {
      filter: invert(0.94);
    }
  }
}