.breadcrumb {
  background: var(--bg2);
  padding: 1rem 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 0.5rem;
      font-size: 0.75rem;
      color: var(--text2);

      svg {
        margin-right: 0.5rem;
        padding-top: 0.25rem;
      }
    }
  }
}