.contact {
  position: relative;
  background: var(--bg2);
  text-align: center;
  margin-top: auto;
  padding-top: 5rem;
  padding-bottom: 2.5rem;

  @media screen and (min-width: 768px) {
    padding-top: 6rem;
  }

  @media screen and (min-width: 992px) {
    padding-top: 8rem;
  }

  .contact__copy {
    font-size: 0.875rem;
  }


  &.svg-divider::before {
    content: '';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    height: 2.5rem;
    background-size: 100% 3.75rem;
    background-position: 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><g fill="%23fcfcfc"><path opacity=".6" d="M1000 50V34L276 78l724-28z"/><path opacity=".2" d="M1000 101V50L401 73l599 28z"/><path d="M1000 36V-2L0 1v100l1000-65z"/></g></svg>');
  }
}