#contact {
  position: relative;
  background: var(--bg2);
  text-align: center;
  margin-top: auto;
  padding-top: 80px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }

  @media screen and (min-width: 992px) {
    padding-top: 140px;
  }

  p {
    font-size: 2rem;

    &.copy {
      font-size: 1.4rem;
    }
  }

  &.svg-divider::before {
    content: '';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-size: 100% 60px;
    background-position: 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><g fill="%23ffffff"><path opacity=".5" d="M1000 50V34L276 78l724-28z"/><path opacity=".3" d="M1000 101V50L401 73l599 28z"/><path d="M1000 36V-2L0 1v100l1000-65z"/></g></svg>');
  }
}