.header {
  background: var(--bg);
  position: sticky;
  top: 0;
  box-shadow: 0 1px 2px 0 var(--text40);
  z-index: 50;

  >div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    padding: 0.75rem 0.5rem;
    text-decoration: none;

    &.logo {
      padding: 0.5rem 1rem 0.5rem 0;

      img {
        height: 1.875rem;
        width: auto;

        @media screen and (min-width: 768px) {
          filter: grayscale(1);
        }

        transition: filter var(--transition);
      }

      &:hover img,
      &:focus img {
        filter: grayscale(0);
      }
    }
  }

  .btn {
    margin: 0.5rem 0 0.5rem 1rem;
  }
}